@charset "utf-8";
/*
'Noto Sans KR'
Thin(100)
Light(300)
Regular(400)
Medium(500)
Bold(700)
Black(900)

'Nanum Myeongjo'
Regular(400)
Bold(600)
ExtraBold(700)
*/
body {min-width:640px;font-family:'Nanum Gothic';z-index:1;overflow-x:hidden;}
img.block {display:block;width:100%;}
.text-left {text-align:left;}
.text-center {text-align:center;}
.text-right {text-align:right;}
.text-ir {display:block;position:absolute;margin:-1px;padding:0;width:1px;height:1px;border:0;clip:rect(0 0 0 0);overflow:hidden;}
.text-underline {border-bottom:1px solid #797979;}
.paragraph {margin-top:1em;}

.mt-zero {margin-top:0 !important;}
img.img-border {border:1px #ddd solid;}
img.review-img {display:block;width:600px;}

.text-point {color:#189cf0;}
.text-dark {color:#333;}
.text-salmon {color:#fe5b5b;}
.text-gray {color:#666;}
.text-warning {color:#cd2913;}
.text-large {font-size:1.125em;}

.pc-show {display:block !important;}
.tb-show {display:none !important;}
.mb-show {display:none !important;}

.pc-hide {display:none !important;}
.tb-hide {display:block !important;}
.mb-hide {display:block !important;}

[class*="ip-icon-"] {display:inline-block;}
[class*="ip-icon-"]:before {content:'';display:block;margin:0 auto;background-repeat:no-repeat;background-size:1000px 1000px;background-image:url(../images/icon-pack.png);}


.ip-icon-header-logo:before {width:182px;height:40px;background-position:0 0;}
.ip-icon-header-call:before {width:46px;height:46px;background-position:-480px 0;}
.ip-icon-header-login:before {width:36px;height:36px;background-position:-620px 0;}
.ip-icon-footer-arrow:before {width:9px;height:14px;background-position:-740px -80px;}
.ip-icon-mswiper-prev:before {width:18px;height:12px;background-position:-620px -140px;}
.ip-icon-mswiper-next:before {width:18px;height:12px;background-position:-660px -140px;}
.ip-icon-footer-sns-blog:before {width:130px;height:22px;background-position:-620px -180px;}
.ip-icon-footer-sns-blog01:before {width:30px;height:30px;background-position:-700px -550px;}


#wrap {overflow:hidden;padding-top:90px;}

#header {font-family:'Noto Sans KR';position:absolute;top:0;left:0;width:100%;height:90px;z-index:1000;border-bottom:1px #ddd solid;}
#header .hgroup {padding:0 40px;height:100%;}
#header .logo {width:200px;z-index:2;}
#header .logo a {display:block;padding:25px 0;}
#header .logo [class*="ip-icon-"] {display:block;}
#header .tb-call {display:none;}


.fixed #header {position:fixed;height:90px;background-color:#fff;box-shadow:0 0 5px rgba(0,0,0,.1);-webkit-box-shadow:0 0 5px rgba(0,0,0,.1);}


#nav {position:static;}
#nav .group {position:static;}
#nav .sign-util {position:absolute;top:26px;right:15px;overflow:hidden;}
#nav .sign-util ul:after {content:'';display:block;clear:both;}
#nav .sign-util ul {font-size:0;line-height:0;}
#nav .sign-util li {display:inline-block;vertical-align:middle;}
#nav .sign-util a {display:block;padding:0 24px;font-size:16px;font-weight:400;line-height:30px;color:#333;}
#nav .sign-util a.call {font-size:20px;font-weight:700;}
#nav .sign-util a.call:after {content:'';display:block;position:absolute;width:1px;height:30px;background-color:#ddd;top:50%;margin-top:-15px;right:0;}
#nav .sign-util [class*="ip-icon-"] {vertical-align:middle;}


#nav .panel {position:absolute;top:0;left:280px;z-index:10;}
#nav .list {display:table;}
#nav .dp1 {display:table-cell;width:140px;height:90px;text-align:center;vertical-align:middle;padding:0;border-right:1px #e8e8e8 solid;}
#nav .dp1:first-child {border-left:1px #e8e8e8 solid;}
#nav .dp1 > a {display:block;color:#333;height:90px;text-align:center;}
#nav .dp1 > a > span {display:block;padding:33px 0;font-family:'Noto Sans KR';font-size:18px;font-weight:500;line-height:24px;letter-spacing:-0.025em;white-space:nowrap;}
#nav .dp1 > a > span:after {content:'';display:block;position:absolute;bottom:0;left:50%;width:0;height:1px;opacity:0;background-color:#fff;transition:500ms;-webkit-transition:500ms;}
#nav .dp1 > .dp-section {display:block;clear:both;}
#nav .dp1 > .dp-section > ul {display:none;position:absolute;top:0;left:0;width:210px;background-color:#fff;margin-left:-1px;border-left:1px #e8e8e8  solid;border-right:1px #e8e8e8  solid;}

#nav .dp2 {border-bottom:1px solid #ddd;}
#nav .dp2 > a {display:block;padding:8px 15px;font-size:16px;font-weight:400;line-height:24px;letter-spacing:-0.025em;color:#333;background-color:#fff;transition:250ms;-webkit-transition:250ms;}
#nav .dp1.on > a  {color:#2dc1cc;font-weight:700;}
#nav .dp2.on {border-bottom:1px solid #c2b7af;}
#nav .dp2.on > a {color:#fff;background-color:#2dc1cc;}


#footer {font-family:'Noto Sans KR';background-color:#535353;}
#footer > a.go2top {display:none;}
#footer .fgroup {border-bottom:1px #a9a9a9 solid;}
#footer .fgroup .section {max-width:1300px;margin:0 auto;}
#footer .fgroup .section:after {content:'';display:block;clear:both;}
#footer .fgroup:after {content:'';display:block;clear:both;}
#footer .fgroup .notice {float:left;padding-left:120px;width:520px;height:65px;}
#footer .fgroup .notice > .title {position:absolute;top:0;left:0;padding:20px 0;width:120px;font-size:16px;line-height:24px;color:#fff;font-weight:500;letter-spacing:-0.055em;}
#footer .fgroup .notice > .title i.ip-icon-footer-arrow {position:absolute;top:50%;margin-top:-6px;left:66px;}
#footer .fgroup .notice li {display:block;padding:19px 0;}
#footer .fgroup .notice li a {display:block;font-size:16px;font-weight:400;line-height:24px;color:#fff;}
#footer .fgroup .notice dl {padding-right:140px;height:24px;}
#footer .fgroup .notice .subject {display:inline-block;max-width:100%;padding-right:10%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;outline:0;font-size:16px;line-height:24px;font-weight:300;vertical-align:middle;}
#footer .fgroup .notice a:hover .subject {color:#2dc1cc;}
#footer .fgroup .notice .date {display:block;position:absolute;top:3px;right:40px;font-size:16px;line-height:24px;color:#fff;font-weight:300;letter-spacing:-0.055em;}
#footer .fgroup .notice span.new {position:absolute;top:50%;margin-top:-0.6em;right:5px;display:inline-block;padding:0 0.25em;width:1.5em;font-size:0.75em;font-style:italic;font-weight:300;line-height:1.5em;text-indent:-0.35em;color:#fff;text-align:center;text-transform:uppercase;border-radius:50%;background-color:#2dc1cc;vertical-align:middle;}
#footer .fgroup .notice span.new:before {content:'N';}
#footer .fgroup .util {float:right;margin-right:-20px;}
#footer .fgroup .util > li {float:left;}
#footer .fgroup .util a {display:block;padding:20px 20px;font-size:14px;line-height:24px;color:#fff;}
#footer .fgroup .util a:hover span {border-bottom:1px solid #666;}
#footer .bx-controls {position:static;}
#footer .bx-controls-direction {position:absolute;top:0;right:-140px;width:140px;}
#footer .bx-controls-direction:after {content:'';display:block;clear:both;}
#footer .bx-controls-direction a {display:block;margin-left:-1px;border-left:1px #a9a9a9 solid;border-right:1px #a9a9a9 solid;width:70px;height:65px;float:left;}
#footer .bx-controls-direction i {position:absolute;top:50%;margin-top:-6px;left:50%;margin-left:-9px;}

#footer .footer-info {padding:33px 0 100px 0;max-width:1300px;margin:0 auto;}
#footer .footer-info:after {content:'';display:block;clear:both;}
#footer .sns-links {margin-bottom:20px;}
#footer .sns-links [class*="ip-icon-"] {margin-right:10px;vertical-align:middle;}
#footer .sns-links > li a {display:inline-block;font-size:14px;line-height:26px;letter-spacing:-0.045em;font-weight:200;color:#fff;vertical-align:middle;}
#footer .sns-links > li a:after {content:'';display:inline-block;margin-left:12px;width:7px;height:11px;background-image:url(../images/icon-pack.png);background-repeat:no-repeat;background-position:-700px -600px;}
#footer .sns-links > li {display:inline-block;padding:5px 0;}
#footer .sns-links > li + li {margin-left:20px;}
#footer .sns-links > li a .text-point {color:#3fd100;}
#footer .info {float:left;font-size:16px;line-height:32px;letter-spacing:-0.035em;color:#fff;font-weight:200;}
#footer .info > [class*="ip-icon-"] {display:block;position:absolute;top:6px;left:0;width:180px;}
#footer .info dl:after {content:'';display:block;clear:both;}
#footer .info dt {display:inline;}
#footer .info dt:after {content:':';padding:0 0.25em;}
#footer .info dd {display:inline;}
#footer .info dd:after {content:'ㅣ';padding:0 0.25em;}
#footer .info dd.rep:after {display:none;}
#footer .info .copyright {text-transform:uppercase;}

@media all and (max-width:1860px) {
	
}

@media all and (max-width:1660px) {

	#nav .dp1 {width:120px;}
	#nav .dp1 > a > span {font-size:16px;}
	

}
@media all and (max-width:1500px) {
	
	body {padding-left:0;z-index:2;}

	.ip-icon-tb-call:before {width:60px;height:60px;background-position:-540px 0;} 
	.ip-icon-header-login:before {width:67px;height:67px;background-position:-660px 0;}

	#wrap {padding-top:100px;}
	#header {height:100px;}
	#header .logo a {padding:27px 0;}
	#header .tb-call {display:block;position:absolute;top:0;right:100px;padding:20px 0;width:60px;height:100px;}
	#header .sign-util .calling {display:none;}
	.fixed #header {height:100px;}

	#nav .overlay {display:block;position:fixed;top:-1000%;left:-10%;width:120%;height:120%;background-color:#000;opacity:0;z-index:-1;transition:opacity 250ms;-webkit-transition:opacity 250ms;}
	#nav .trigger {display:block;position:absolute;right:0;top:0;border-left:1px solid rgba(255,255,255,.1);z-index:2;}
	#nav .trigger > a {display:block;padding:48px 28px;width:100px;height:100px;}
	#nav .trigger > a .icon-menu {display:block;width:46px;height:4px;background-color:#e7e7e7;}
	#nav .trigger > a .icon-menu:before {content:'';display:block;position:absolute;left:0;top:-15px;width:inherit;height:inherit;background-color:inherit;}
	#nav .trigger > a .icon-menu:after {content:'';display:block;position:absolute;left:0;bottom:-15px;width:inherit;height:inherit;background-color:inherit;}
	#nav .group {position:fixed;top:0;right:0;padding-top:118px;width:440px;height:100%;background-color:#668c8f;z-index:1210;transform:translateX(100%);-webkit-transform:translateX(100%);transition:transform 500ms;-webkit-transition:-webkit-transform 500ms;}
	#nav .sign-util {position:absolute;top:0;left:0;right:0;margin:0;padding:28px 40px 23px 40px;width:100%;}
	#nav .sign-util li:before {top:6px;height:21px;background-color:#999;}
	#nav .sign-util a {padding:0;font-size:28px;line-height:32px;color:#fff;opacity:1;}
	#nav .sign-util a span {display:inline-block;margin-left:10px;}
	#nav .sign-util [class*="ip-icon-"] {padding:0;}
	#nav .btn-close {display:none;position:absolute;top:0;right:440px;padding:50px;width:100px;height:100px;}
	#nav .btn-close .icon-menu-close {display:block;width:4px;height:4px;background-color:#fff;transform:rotate(45deg);-webkit-transform:rotate(45deg);}
	#nav .btn-close .icon-menu-close:before {content:'';display:block;position:absolute;margin-top:-18px;width:inherit;height:40px;background-color:inherit;}
	#nav .btn-close .icon-menu-close:after {content:'';display:block;position:absolute;margin-left:-18px;width:40px;height:inherit;background-color:inherit;}
	#nav .panel {float:none;position:relative;left:0;margin-top:0;width:100%;min-width:0;height:100%;border-top:1px solid rgba(255,255,255,.2);background-color:#668c8f;overflow:auto;-webkit-overflow-scrolling:touch;}
	#nav .list {display:block;float:none;padding-right:0;border-bottom:1px solid rgba(255,255,255,.2);}
	#nav .dp1:first-child {border:0;}
	#nav .dp1 {display:block;padding:0;width:100%;height:auto;border-bottom:0;border-top:1px solid rgba(255,255,255,.2);background-color:#668c8f;}
	#nav .dp1 > a {display:block;float:none;padding:22px 42px;width:100%;height:auto;text-align:left;color:#fff;}
	#nav .dp1 > a > span {padding:0;font-size:26px;line-height:36px;letter-spacing:-0.025em;color:#fff;font-weight:400;}
	#nav .dp1 > a > span:after {display:none;}
	#nav .dp1 > a [class*="ip-icon-"] {display:block;position:absolute;top:35px;right:31px;}
	#nav .dp1 > .dp-section {display:none;position:static;top:0;width:100%;background-color:#616a75;}
	#nav .dp1 > .dp-section > ul {display:block;position:static;top:0;left:0;width:100%;background-color:#616a75;border-top:1px solid rgba(255,255,255,.2);}
	#nav .dp2 {border-top:1px solid rgba(255,255,255,.2);border-bottom:0;}
	#nav .dp1.on > a {background-color:#668c8f;}
	#nav .dp1.on > a > span {color:#fff;border-top:0;}
	#nav .dp1.current > a > span {border-top:0;}
	#nav .dp2:first-child,
	#nav .dp2 {border-top:1px solid rgba(255,255,255,.2);}
	#nav .dp2 > a {display:block;padding:24px 42px 24px 60px;font-size:26px;line-height:32px;letter-spacing:-0.025em;color:#fff;background-color:#346063;text-align:left;font-weight:400;color:#d9d9d9;}
	#nav .dp2.on {border-bottom:0;}

	.nav-show {overflow:hidden;}
	.nav-show #nav .overlay {top:-10%;opacity:.8;z-index:1200;}
	.nav-show #nav .group {transform:translateX(0);-webkit-transform:translateX(0);}
	.nav-show #nav .btn-close {display:block;}

	#footer .fgroup .section {padding:0 20px;}
	#footer .footer-info {padding:33px 20px 100px;}


}	

@media all and (min-width:1200px) {

}

@media all and (max-width:1199px) {
	
	.pc-show {display:none !important;}
	.tb-show {display:block !important;}
	.mb-show {display:none !important;}

	.pc-hide {display:block !important;}
	.tb-hide {display:none !important;}
	.mb-hide {display:block !important;}

	.ip-icon-header-logo:before {width:210px;height:45px;background-position:-240px 0;}

	.ip-icon-header-call:before {width:42px;height:42px;background-position:-260px -60px;}
	.ip-icon-dp1-arrow:before {width:29px;height:14px;background-position:-340px -360px;}
	.on .ip-icon-dp1-arrow:before {background-position:-340px -380px;}

	.ip-icon-go2top:before {width:12px;height:10px;background-position:-380px -240px;}

	#header .logo {width:223px;}
	#header .logo a {padding:27px 0;}
	#header .hgroup {padding:0 30px;}

	#footer > a.go2top {position:absolute;bottom:0;left:0;display:block;width:100%;padding:20px 0;font-size:20px;line-height:24px;color:#fff;text-align:center;background-color:#383636;z-index:100;}
	#footer .fgroup .section {padding:0;}
	#footer .fgroup .notice {float:none;width:100%;padding-right:140px;}
	#footer .fgroup .notice > .title {padding-left:20px;}
	#footer .fgroup .util {float:none;margin-right:0;border-top:1px #a9a9a9 solid;}
	#footer .fgroup .util > li {width:33.3%;border-left:1px #a9a9a9 solid;}
	#footer .fgroup .util > li:first-child {border-left:0;}
	#footer .fgroup .util > li.top {display:none;}
	#footer .fgroup .util a {text-align:center;}

	#footer .info dd.address:after {content:'';display:block;clear:both;}
	#footer .info dd.cnr:after {content:'';display:block;clear:both;}
	#footer .fgroup .notice > .title i.ip-icon-footer-arrow {left:86px;}


}
@media all and (min-width:800px) and (max-width:1199px){
}
@media all and (max-width:799px) {
	body {z-index:3;}
	.pc-show {display:none !important;}
	.tb-show {display:none !important;}
	.mb-show {display:block !important;}

	.pc-hide {display:block !important;}
	.tb-hide {display:block !important;}
	.mb-hide {display:none !important;}

	.ip-icon-footer-logo:before {width:157px;height:113px;background-position:0 -460px;}
	.ip-icon-go2top:before {width:18px;height:15px;background-position:-360px -260px;}
	.ip-icon-footer-sns-blog:before {width:170px;height:30px;background-position:-620px -210px;}
	.ip-icon-footer-sns-blog01:before {width:40px;height:40px;background-position:-740px -550px;}

	.fixed #header {min-width:640px;}

	
	#footer > a.go2top {font-size:26px;line-height:30px;padding:25px 0;}
	#footer .fgroup .notice > .title {font-size:22px;}
	#footer .fgroup .util a {font-size:22px;padding:25px 0;}
	#footer .fgroup .notice > .title i.ip-icon-footer-arrow {display:none;}
	#footer .fgroup .notice li {padding:18px 0;}
	#footer .fgroup .notice .subject {font-size:22px;line-height:28px;}
	#footer .fgroup .notice .date {font-size:22px;right:30px;}
	#footer .info {float:none;font-size:22px;line-height:40px;letter-spacing:-0.055em}
	#footer .sns-links {margin:0 0 35px;float:none;}
	#footer .sns-links > li {display:block;}
	#footer .sns-links > li + li {margin-left:0;}
	#footer .sns-links > li a {font-size:22px;line-height:40px;}
	#footer .sns-links > li a:after {width:11px;height:19px;background-position:-740px -600px;}
	#footer .footer-info {padding:33px 30px 200px;}

	#footer .fgroup .util > li.top {border-left:0;z-index:100;}
	#footer .fgroup .util > li.top a {background-color:#383636;}



	


}
